In [1]:
import psycopg2

In [2]:
# Connect to your postgres DB
conn = psycopg2.connect("dbname=test user=funka password=funka")

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

BETWEEN
 - The BETWEEN operator selects values within a given range. The values can be numbers, text, or dates.
 - The BETWEEN operator is inclusive: begin and end values are included.

Select all products with a price between 10 and 15:

In [5]:
# Execute a query
cur.execute('''SELECT * FROM Products
WHERE Price BETWEEN 10 AND 15;''')

In [6]:
# Retrieve query results
records = cur.fetchall()

In [7]:
records

[(3, 'Aniseed Syrup', 2, '12 - 550 ml bottles', Decimal('10.00')),
 (21, 'Sir Rodneys Scones', 3, '24 pkgs. x 4 pieces', Decimal('10.00')),
 (25, 'NuNuCa Nui-Nougat-Creme', 3, '20 - 450 g glasses', Decimal('14.00')),
 (31, 'Gorgonzola Telino', 4, '12 - 100 g pkgs', Decimal('12.50')),
 (34, 'Sasquatch Ale', 1, '24 - 12 oz bottles', Decimal('14.00')),
 (42, 'Singaporean Hokkien Fried Mee', 5, '32 - 1 kg pkgs.', Decimal('14.00')),
 (46, 'Spegesild', 8, '4 - 450 g glasses', Decimal('12.00')),
 (48, 'Chocolade', 3, '10 pkgs.', Decimal('12.75')),
 (58, 'Escargots de Bourgogne', 8, '24 pieces', Decimal('13.25')),
 (67, 'Laughing Lumberjack Lager', 1, '24 - 12 oz bottles', Decimal('14.00')),
 (68, 'Scottish Longbreads', 3, '10 boxes x 8 pieces', Decimal('12.50')),
 (70, 'Outback Lager', 1, '24 - 355 ml bottles', Decimal('15.00')),
 (73, 'Red Kaviar', 8, '24 - 150 g jars', Decimal('15.00')),
 (74, 'Longlife Tofu', 7, '5 kg pkg.', Decimal('10.00')),
 (77, 'Original Frankfurter gr≈ëne Soae', 2, '12 boxes', Decimal('13.00'))]

- The BETWEEN operator can also be used on text values.
- The result returns all records that are alphabetically between the specified values.

Select all products between 'Pavlova' and 'Tofu':

In [8]:
# Execute a query
cur.execute('''SELECT * FROM Products
WHERE product_name BETWEEN 'Pavlova' AND 'Tofu';''')

In [9]:
# Retrieve query results
records = cur.fetchall()

In [10]:
records

[(11, 'Queso Cabrales', 4, '1 kg pkg.', Decimal('21.00')),
 (12, 'Queso Manchego La Pastora', 4, '10 - 500 g pkgs.', Decimal('38.00')),
 (14, 'Tofu', 7, '40 - 100 g pkgs.', Decimal('23.25')),
 (16, 'Pavlova', 3, '32 - 500 g boxes', Decimal('17.45')),
 (19,
  'Teatime Chocolate Biscuits',
  3,
  '10 boxes x 12 pieces',
  Decimal('9.20')),
 (20, 'Sir Rodneys Marmalade', 3, '30 gift boxes', Decimal('81.00')),
 (21, 'Sir Rodneys Scones', 3, '24 pkgs. x 4 pieces', Decimal('10.00')),
 (27, 'Schoggi Schokolade', 3, '100 - 100 g pieces', Decimal('43.90')),
 (28, 'Rassle Sauerkraut', 7, '25 - 825 g cans', Decimal('45.60')),
 (29, 'Thoringer Rostbratwurst', 6, '50 bags x 30 sausgs.', Decimal('123.79')),
 (34, 'Sasquatch Ale', 1, '24 - 12 oz bottles', Decimal('14.00')),
 (35, 'Steeleye Stout', 1, '24 - 12 oz bottles', Decimal('18.00')),
 (42, 'Singaporean Hokkien Fried Mee', 5, '32 - 1 kg pkgs.', Decimal('14.00')),
 (45, 'Rogede sild', 8, '1k pkg.', Decimal('9.50')),
 (46, 'Spegesild', 8, '4 - 450 g glasses', Decimal('12.00')),
 (53, 'Perth Pasties', 6, '48 pieces', Decimal('32.80')),
 (57, 'Ravioli Angelo', 5, '24 - 250 g pkgs.', Decimal('19.50')),
 (59, 'Raclette Courdavault', 4, '5 kg pkg.', Decimal('55.00')),
 (61, 'Sirop d arable', 2, '24 - 500 ml bottles', Decimal('28.50')),
 (62, 'Tarte au sucre', 3, '48 pies', Decimal('49.30')),
 (68, 'Scottish Longbreads', 3, '10 boxes x 8 pieces', Decimal('12.50')),
 (73, 'Red Kaviar', 8, '24 - 150 g jars', Decimal('15.00')),
 (75, 'Rhenbreu Klosterbier', 1, '24 - 0.5 l bottles', Decimal('7.75'))]

Same example as above, but we sort it by product_name:

In [11]:
# Execute a query
cur.execute('''SELECT * FROM Products
WHERE product_name BETWEEN 'Pavlova' AND 'Tofu'
ORDER BY product_name;''')

In [12]:
# Retrieve query results
records = cur.fetchall()

In [13]:
records

[(16, 'Pavlova', 3, '32 - 500 g boxes', Decimal('17.45')),
 (53, 'Perth Pasties', 6, '48 pieces', Decimal('32.80')),
 (11, 'Queso Cabrales', 4, '1 kg pkg.', Decimal('21.00')),
 (12, 'Queso Manchego La Pastora', 4, '10 - 500 g pkgs.', Decimal('38.00')),
 (59, 'Raclette Courdavault', 4, '5 kg pkg.', Decimal('55.00')),
 (28, 'Rassle Sauerkraut', 7, '25 - 825 g cans', Decimal('45.60')),
 (57, 'Ravioli Angelo', 5, '24 - 250 g pkgs.', Decimal('19.50')),
 (73, 'Red Kaviar', 8, '24 - 150 g jars', Decimal('15.00')),
 (75, 'Rhenbreu Klosterbier', 1, '24 - 0.5 l bottles', Decimal('7.75')),
 (45, 'Rogede sild', 8, '1k pkg.', Decimal('9.50')),
 (34, 'Sasquatch Ale', 1, '24 - 12 oz bottles', Decimal('14.00')),
 (27, 'Schoggi Schokolade', 3, '100 - 100 g pieces', Decimal('43.90')),
 (68, 'Scottish Longbreads', 3, '10 boxes x 8 pieces', Decimal('12.50')),
 (42, 'Singaporean Hokkien Fried Mee', 5, '32 - 1 kg pkgs.', Decimal('14.00')),
 (20, 'Sir Rodneys Marmalade', 3, '30 gift boxes', Decimal('81.00')),
 (21, 'Sir Rodneys Scones', 3, '24 pkgs. x 4 pieces', Decimal('10.00')),
 (61, 'Sirop d arable', 2, '24 - 500 ml bottles', Decimal('28.50')),
 (46, 'Spegesild', 8, '4 - 450 g glasses', Decimal('12.00')),
 (35, 'Steeleye Stout', 1, '24 - 12 oz bottles', Decimal('18.00')),
 (62, 'Tarte au sucre', 3, '48 pies', Decimal('49.30')),
 (19,
  'Teatime Chocolate Biscuits',
  3,
  '10 boxes x 12 pieces',
  Decimal('9.20')),
 (29, 'Thoringer Rostbratwurst', 6, '50 bags x 30 sausgs.', Decimal('123.79')),
 (14, 'Tofu', 7, '40 - 100 g pkgs.', Decimal('23.25'))]

The BETWEEN operator can also be used on date values.

In [14]:
# Execute a query
cur.execute('''SELECT * FROM orders
WHERE order_date BETWEEN '2023-04-12' AND '2023-05-05';''')

In [15]:
# Retrieve query results
records = cur.fetchall()

In [16]:
records

[(11017, 20, datetime.date(2023, 4, 13)),
 (11018, 48, datetime.date(2023, 4, 13)),
 (11019, 64, datetime.date(2023, 4, 13)),
 (11020, 56, datetime.date(2023, 4, 14)),
 (11021, 63, datetime.date(2023, 4, 14)),
 (11022, 34, datetime.date(2023, 4, 14)),
 (11023, 11, datetime.date(2023, 4, 14)),
 (11024, 19, datetime.date(2023, 4, 15)),
 (11025, 87, datetime.date(2023, 4, 15)),
 (11026, 27, datetime.date(2023, 4, 15)),
 (11027, 10, datetime.date(2023, 4, 16)),
 (11028, 39, datetime.date(2023, 4, 16)),
 (11029, 14, datetime.date(2023, 4, 16)),
 (11030, 71, datetime.date(2023, 4, 17)),
 (11031, 71, datetime.date(2023, 4, 17)),
 (11032, 89, datetime.date(2023, 4, 17)),
 (11033, 68, datetime.date(2023, 4, 17)),
 (11034, 55, datetime.date(2023, 4, 20)),
 (11035, 76, datetime.date(2023, 4, 20)),
 (11036, 17, datetime.date(2023, 4, 20)),
 (11037, 30, datetime.date(2023, 4, 21)),
 (11038, 76, datetime.date(2023, 4, 21)),
 (11039, 47, datetime.date(2023, 4, 21)),
 (11040, 32, datetime.date(2023, 4, 22)),
 (11041, 14, datetime.date(2023, 4, 22)),
 (11042, 15, datetime.date(2023, 4, 22)),
 (11043, 74, datetime.date(2023, 4, 22)),
 (11044, 91, datetime.date(2023, 4, 23)),
 (11045, 10, datetime.date(2023, 4, 23)),
 (11046, 86, datetime.date(2023, 4, 23)),
 (11047, 19, datetime.date(2023, 4, 24)),
 (11048, 10, datetime.date(2023, 4, 24)),
 (11049, 31, datetime.date(2023, 4, 24)),
 (11050, 24, datetime.date(2023, 4, 27)),
 (11051, 41, datetime.date(2023, 4, 27)),
 (11052, 34, datetime.date(2023, 4, 27)),
 (11053, 59, datetime.date(2023, 4, 27)),
 (11054, 12, datetime.date(2023, 4, 28)),
 (11055, 35, datetime.date(2023, 4, 28)),
 (11056, 19, datetime.date(2023, 4, 28)),
 (11057, 53, datetime.date(2023, 4, 29)),
 (11058, 6, datetime.date(2023, 4, 29)),
 (11059, 67, datetime.date(2023, 4, 29)),
 (11060, 27, datetime.date(2023, 4, 30)),
 (11061, 32, datetime.date(2023, 4, 30)),
 (11062, 66, datetime.date(2023, 4, 30)),
 (11063, 37, datetime.date(2023, 4, 30)),
 (11064, 71, datetime.date(2023, 5, 1)),
 (11065, 46, datetime.date(2023, 5, 1)),
 (11066, 89, datetime.date(2023, 5, 1)),
 (11067, 17, datetime.date(2023, 5, 4)),
 (11068, 62, datetime.date(2023, 5, 4)),
 (11069, 80, datetime.date(2023, 5, 4)),
 (11070, 44, datetime.date(2023, 5, 5)),
 (11071, 46, datetime.date(2023, 5, 5)),
 (11072, 20, datetime.date(2023, 5, 5)),
 (11073, 58, datetime.date(2023, 5, 5))]