In [1]:
import psycopg2

In [2]:
# Connect to your postgres DB
conn = psycopg2.connect("dbname=test user=funka password=funka")

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [4]:
# Execute a query
cur.execute('''SELECT MIN(price)
FROM products;''')

In [5]:
# Retrieve query results
records = cur.fetchall()

In [6]:
records

[(Decimal('2.50'),)]

In [7]:
# Execute a query
cur.execute('''SELECT MAX(price)
FROM products;''')

In [8]:
# Retrieve query results
records = cur.fetchall()

In [9]:
records

[(Decimal('263.50'),)]

In [10]:
# Execute a query
cur.execute('''SELECT MIN(price) AS lowest_price
FROM products;''')

In [11]:
# Retrieve query results
records = cur.fetchall()

In [12]:
records

[(Decimal('2.50'),)]