In [3]:
import psycopg2

In [4]:
# Connect to your postgres DB
conn = psycopg2.connect("dbname=test user=funka password=funka")

In [5]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [6]:
# Execute a query
cur.execute('''SELECT COUNT(customer_id)
FROM customers;''')

In [7]:
# Retrieve query results
records = cur.fetchall()

In [8]:
records

[(91,)]

Note: NULL values are not counted.

SELECT COUNT(DISTINCT)
- We can also use the DISTINCT keyword in combination with the COUNT statement, which in the example below will return the number of different countries there are in the customers table.

Return the number of different countries there are in the customers table:

In [9]:
# Execute a query
cur.execute('''SELECT COUNT(DISTINCT country)
FROM customers;''')

In [10]:
# Retrieve query results
records = cur.fetchall()

In [11]:
records

[(21,)]

By specifying a WHERE clause, you can e.g. return the number of customers that comes from London:

In [7]:
# Execute a query
cur.execute('''SELECT COUNT(customer_id)
FROM customers
WHERE city = 'London';''')

In [8]:
# Retrieve query results
records = cur.fetchall()

In [9]:
records

[(6,)]

In [10]:
# Execute a query
cur.execute('''SELECT SUM(quantity)
FROM order_details;''')

In [11]:
# Retrieve query results
records = cur.fetchall()

In [12]:
records

[(51317,)]

Note: NULL values are ignored.

In [16]:
# Execute a query
cur.execute('''SELECT AVG(price)
FROM products;''')

In [17]:
# Retrieve query results
records = cur.fetchall()

In [18]:
records

[(Decimal('28.8663636363636364'),)]

Note: NULL values are ignored.

With 2 Decimals:
We can use the ::NUMERIC operator to round the average price to a number with 2 decimals:

In [19]:
# Execute a query
cur.execute('''SELECT AVG(price)::NUMERIC(10,2)
FROM products;''')

In [20]:
# Retrieve query results
records = cur.fetchall()

In [21]:
records

[(Decimal('28.87'),)]