In [1]:
import psycopg2

In [2]:
# Connect to your postgres DB
conn = psycopg2.connect("dbname=test user=funka password=funka")

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [5]:
# Execute a query
cur.execute('''SELECT * FROM customers
WHERE city = 'London';''')

In [6]:
# Retrieve query results
records = cur.fetchall()

In [7]:
records

[(4,
  'Around the Horn',
  'Thomas Hardy',
  '120 Hanover Sq.',
  'London',
  'WA1 1DP',
  'UK'),
 (11,
  'Bs Beverages',
  'Victoria Ashworth',
  'Fauntleroy Circus',
  'London',
  'EC2 5NT',
  'UK'),
 (16,
  'Consolidated Holdings',
  'Elizabeth Brown',
  'Berkeley Gardens 12 Brewery ',
  'London',
  'WX1 6LT',
  'UK'),
 (19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK'),
 (53,
  'North/South',
  'Simon Crowther',
  'South House 300 Queensbridge',
  'London',
  'SW7 1RZ',
  'UK'),
 (72,
  'Seven Seas Imports',
  'Hari Kumar',
  '90 Wadhurst Rd.',
  'London',
  'OX15 4NB',
  'UK')]

In [8]:
# Execute a query
cur.execute('''SELECT * FROM customers
WHERE customer_id = 19;''')

In [9]:
# Retrieve query results
records = cur.fetchall()

In [11]:
records

[(19,
  'Eastern Connection',
  'Ann Devon',
  '35 King George',
  'London',
  'WX3 6FW',
  'UK')]

In [12]:
# Execute a query
cur.execute('''SELECT * FROM customers
WHERE customer_id > 80;''')

In [13]:
# Retrieve query results
records = cur.fetchall()

In [14]:
records

[(81,
  'Tradicao Hipermercados',
  'Anabela Domingues',
  'Av. Ines de Castro, 414',
  'Sao Paulo',
  '05634-030',
  'Brazil'),
 (82,
  'Trails Head Gourmet Provisioners',
  'Helvetius Nagy',
  '722 DaVinci Blvd.',
  'Kirkland',
  '98034',
  'USA'),
 (83,
  'Vaffeljernet',
  'Palle Ibsen',
  'Smagsloget 45',
  'Arhus',
  '8200',
  'Denmark'),
 (84,
  'Victuailles en stock',
  'Mary Saveley',
  '2, rue du Commerce',
  'Lyon',
  '69004',
  'France'),
 (85,
  'Vins et alcools Chevalier',
  'Paul Henriot',
  '59 rue de l Abbaye',
  'Reims',
  '51100',
  'France'),
 (86,
  'Die Wandernde Kuh',
  'Rita Moller',
  'Adenauerallee 900',
  'Stuttgart',
  '70563',
  'Germany'),
 (87,
  'Wartian Herkku',
  'Pirkko Koskitalo',
  'Torikatu 38',
  'Oulu',
  '90110',
  'Finland'),
 (88,
  'Wellington Importadora',
  'Paula Parente',
  'Rua do Mercado, 12',
  'Resende',
  '08737-363',
  'Brazil'),
 (89,
  'White Clover Markets',
  'Karl Jablonski',
  '305 - 14th Ave. S. Suite 3B',
  'Seattle',
  '98128',
  'USA'),
 (90,
  'Wilman Kala',
  'Matti Karttunen',
  'Keskuskatu 45',
  'Helsinki',
  '21240',
  'Finland'),
 (91, 'Wolski', 'Zbyszek', 'ul. Filtrowa 68', 'Walla', '01-012', 'Poland')]