In [3]:
from MySQLdb import connect
import pandas as pd

In [4]:
# Connect to your MySQLdb
#conn = connect(host='localhost', user='root')
conn = connect(host='127.0.0.1', user='root', password = 'root', port = 8890)

In [5]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [6]:
# Return data from the Customers table:
cur.execute('''SHOW DATABASES;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

             Database
0  information_schema
1               mysql
2  performance_schema
3              sqlw3s
4                 sys
5              testDB

The SQL BACKUP DATABASE Statement
- The BACKUP DATABASE statement is used in SQL Server to create a full back up of an existing SQL database.

>Syntax
>
>BACKUP DATABASE databasename
>TO DISK = 'filepath';

The SQL BACKUP WITH DIFFERENTIAL Statement
- A differential back up only backs up the parts of the database that have changed since the last full database backup.

>Syntax
>
>BACKUP DATABASE databasename
>TO DISK = 'filepath'
>WITH DIFFERENTIAL;

BACKUP DATABASE Example

In [8]:
import os
path = os.getcwd()
path

'/Users/jiricerny/_Git/_venv/_venv/W3Schools_2024/SQL'

In [24]:
# The following SQL statement creates a full back up of the existing database "testDB" to the D disk:
cur.execute(f'''BACKUP DATABASE sqlw3s TO DISK = '{path}/testDB.bak';''')

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BACKUP DATABASE sqlw3s TO DISK = '/Users/jiricerny/_Git/_venv/_venv/W3Schools_20' at line 1")

Tip: Always back up the database to a different drive than the actual database. Then, if you get a disk crash, you will not lose your backup file along with the database.

mysqldump mydatabase mytable > data.sql

In [10]:
# postup je pres mysqldump
import os

os.system(f'''
    /Applications/MAMP/Library/bin/mysqldump --host='127.0.0.1' --user=root --password=root --port=8890 sqlw3s > {path}/sqlw3s_dump.sql
''') 
#sqlw3s > /Users/jiricerny/_Git/_venv/_venv/W3Schools_2024/SQL/dump.sql

mysqldump: [Warning] Using a password on the command line interface can be insecure.

0

BACKUP WITH DIFFERENTIAL Example

In [54]:
# The following SQL statement creates a differential back up of the database "testDB":
cur.execute(f'''BACKUP DATABASE sqlw3s TO DISK = '{path}/testDB.bak' WITH DIFFERENTIAL;''')

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'BACKUP DATABASE sqlw3s TO DISK = '/Users/jiricerny/_Git/_venv/_venv/W3Schools_20' at line 1")

Tip: A differential back up reduces the back up time (since only the changes are backed up).

In [9]:
# Return data from the Customers table:
cur.execute('''CREATE DATABASE IF NOT EXISTS testDB;''')

1

In [15]:
# Return data from the Customers table:
cur.execute('''SHOW DATABASES;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

             Database
0  information_schema
1               mysql
2  performance_schema
3              sqlw3s
4                 sys
5              testDB

In [11]:
# postup je pres mysql
import os

os.system(f'''
    /Applications/MAMP/Library/bin/mysql --host='127.0.0.1' --user=root --password=root --port=8890 testDB < {path}/sqlw3s_dump.sql
''') 
#sqlw3s < /Users/jiricerny/_Git/_venv/_venv/W3Schools_2024/SQL/dump.sql

mysql: [Warning] Using a password on the command line interface can be insecure.

0

In [12]:
# Return data from the Customers table:
cur.execute('''SELECT * FROM testDB.Customers;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
2,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
3,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
4,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
...,...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
88,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland