In [15]:
#pip install mysqlclient

In [1]:
import MySQLdb

# Start MAMP

In [3]:
# Connect to your postgres DB
conn = MySQLdb.connect(host='127.0.0.1', user='root', password = 'root', port=8890)

In [4]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [5]:
# Execute a query
cur.execute('''SHOW databases;''')

5

In [6]:
# Retrieve query results
records = cur.fetchall()

In [7]:
records

(('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sqlw3s',),
 ('sys',))

In [7]:
#pip install ipython-sql

In [1]:
%load_ext sql
%config SqlMagic.autocommit=True

In [2]:
%sql mysql://root:root@127.0.0.1:8890

In [3]:
%sql select version()

 * mysql://root:***@127.0.0.1:8890
1 rows affected.

[('5.7.39',)]

In [6]:
%sql show schemas

 * mysql://root:***@127.0.0.1:8890
5 rows affected.

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sqlw3s',),
 ('sys',)]

In [12]:
%sql create schema sqlw3s0

 * mysql://root:***@127.0.0.1:8890
1 rows affected.

[]

In [13]:
%sql use sqlw3s0

 * mysql://root:***@127.0.0.1:8890
0 rows affected.

[]

In [14]:
%sql show tables

 * mysql://root:***@127.0.0.1:8890
0 rows affected.

[]

In [5]:
#%sql drop schema sqlw3s0

 * mysql://root:***@127.0.0.1:8890
0 rows affected.

[]