In [5]:
from MySQLdb import connect
import pandas as pd

In [6]:
# Connect to your MySQLdb
#conn = connect(host='localhost', user='root')
conn = connect(host='127.0.0.1', user='root', password = 'root', port = 8890)

In [7]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [9]:
# Return data from the Customers table:
cur.execute('''SHOW DATABASES;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

             Database
0  information_schema
1               mysql
2  performance_schema
3              sqlw3s
4                 sys

The SQL CREATE DATABASE Statement
- The CREATE DATABASE statement is used to create a new SQL database.

>Syntax
>
>CREATE DATABASE databasename;

CREATE DATABASE Example

In [13]:
# The following SQL statement creates a database called "testDB":
cur.execute('''CREATE DATABASE testDB;''')

1

Tip: Make sure you have admin privilege before creating any database. Once a database is created, you can check it in the list of databases with the following SQL command: SHOW DATABASES;

In [14]:
# Return data from the Customers table:
cur.execute('''SHOW DATABASES;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

             Database
0  information_schema
1               mysql
2  performance_schema
3              sqlw3s
4                 sys
5              testDB