In [3]:
from MySQLdb import connect
import pandas as pd

In [4]:
# Connect to your MySQLdb
#conn = connect(host='localhost', user='root')
conn = connect(host='127.0.0.1', user='root', password = 'root', port = 8890)

In [5]:
# Open a cursor to perform database operations
cur = conn.cursor()

In [13]:
# Return data from the Customers table:
cur.execute('''SHOW DATABASES;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

             Database
0  information_schema
1       funkacernette
2               mysql
3  performance_schema
4              sqlw3s
5                 sys
6              testDB

### SQL PRIMARY KEY Constraint
The PRIMARY KEY constraint uniquely identifies each record in a table.

Primary keys must contain UNIQUE values, and cannot contain NULL values.

A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).

SQL PRIMARY KEY on CREATE TABLE

In [14]:
pd.read_sql_query('''SELECT * from `testDB`.`Persons`;''', conn)

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_31414/896778760.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('''SELECT * from `testDB`.`Persons`;''', conn)

Empty DataFrame
Columns: [ID, LastName, FirstName, Age]
Index: []

bill7 je v postgres!!!

In [15]:
pd.read_sql_query('''SELECT * from `testDB`.`bill7`;''', conn)

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_31414/890089506.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query('''SELECT * from `testDB`.`bill7`;''', conn)

DatabaseError: Execution failed on sql 'SELECT * from `testDB`.`bill7`;': (1146, "Table 'testdb.bill7' doesn't exist")