In [1]:
from MySQLdb import connect
import pandas as pd

In [2]:
# Connect to your MySQLdb
conn = connect(host='localhost', user='root')
#conn = connect(host='127.0.0.1', user='root', password = 'root', port=8890)

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

### The SQL SUM() Function
- The SUM() function returns the total sum of a numeric column.

In [4]:
# Return the sum of all Quantity fields in the OrderDetails table:
cur.execute('''SELECT SUM(Quantity) FROM sqlw3s.OrderDetails;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

  SUM(Quantity)
0         12743

>Syntax:

>SELECT SUM(column_name)
>
>FROM table_name
>
>WHERE condition;

Add a Where Clause:
- You can add a WHERE clause to specify conditions:

In [6]:
# Return the number of orders made for the product with ProductID 11:
cur.execute('''SELECT SUM(Quantity) FROM sqlw3s.OrderDetails WHERE ProductId = 11;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

  SUM(Quantity)
0           182

Use an Alias:
- Give the summarized column a name by using the AS keyword.

In [7]:
# Name the column "total":
cur.execute('''SELECT SUM(Quantity) AS total FROM sqlw3s.OrderDetails;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   total
0  12743

SUM() With an Expression:
- The parameter inside the SUM() function can also be an expression.
- If we assume that each product in the OrderDetails column costs 10 dollars, we can find the total earnings in dollars by multiply each quantity with 10:

In [9]:
# Use an expression inside the SUM() function:
cur.execute('''SELECT SUM(Quantity * 10) FROM sqlw3s.OrderDetails;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

  SUM(Quantity * 10)
0             127430

We can also join the OrderDetails table to the Products table to find the actual amount, instead of assuming it is 10 dollars:

In [10]:
# Join OrderDetails with Products, and use SUM() to find the total amount:
cur.execute('''SELECT SUM(Price * Quantity)
FROM sqlw3s.OrderDetails
LEFT JOIN sqlw3s.Products ON OrderDetails.ProductID = Products.ProductID;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   SUM(Price * Quantity)
0              386424.23