In [1]:
from MySQLdb import connect
import pandas as pd

In [2]:
# Connect to your MySQLdb
conn = connect(host='localhost', user='root')
#conn = connect(host='127.0.0.1', user='root', password = 'root', port=8890)

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

### The SQL BETWEEN Operator
- The BETWEEN operator selects values within a given range. The values can be numbers, text, or dates.
- The BETWEEN operator is inclusive: begin and end values are included.

In [5]:
# Selects all products with a price between 10 and 20:
cur.execute('''SELECT * FROM sqlw3s.Products
WHERE Price BETWEEN 10 AND 20;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,1,Chais,1,1,10 boxes x 20 bags,18.00
1,2,Chang,1,1,24 - 12 oz bottles,19.00
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
3,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.50
4,16,Pavlova,7,3,32 - 500 g boxes,17.45
5,21,Sir Rodney's Scones,8,3,24 pkgs. x 4 pieces,10.00
6,25,NuNuCa Nuß-Nougat-Creme,11,3,20 - 450 g glasses,14.00
7,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.50
8,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14.00
9,35,Steeleye Stout,16,1,24 - 12 oz bottles,18.00
10,36,Inlagd Sill,17,8,24 - 250 g jars,19.00
11,39,Chartreuse verte,18,1,750 cc per bottle,18.00
12,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.40
13,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
14,44,Gula Malacca,20,2,20 - 2 kg bags,19.45
15,46,Spegesild,21,8,4 - 450 g glasses,12.00
16,48,Chocolade,22,3,10 pkgs.,12.75
17,49,Maxilaku,23,3,24 - 50 g pkgs.,20.00
18,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
19,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.50
20,58,Escargots de Bourgogne,27,8,24 pieces,13.25
21,66,Louisiana Hot Spiced Okra,2,2,24 - 8 oz jars,17.00
22,67,Laughing Lumberjack Lager,16,1,24 - 12 oz bottles,14.00
23,68,Scottish Longbreads,8,3,10 boxes x 8 pieces,12.50
24,70,Outback Lager,7,1,24 - 355 ml bottles,15.00
25,73,Röd Kaviar,17,8,24 - 150 g jars,15.00
26,74,Longlife Tofu,4,7,5 kg pkg.,10.00
27,76,Lakkalikööri,23,1,500 ml,18.00
28,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00

>Syntax:

>SELECT column_name(s)
>
>FROM table_name
>
>WHERE column_name BETWEEN value1 AND value2;

NOT BETWEEN:
- To display the products outside the range of the previous example, use NOT BETWEEN:

In [6]:
# Example:
cur.execute('''SELECT * FROM sqlw3s.Products
WHERE Price NOT BETWEEN 10 AND 20;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00
1,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
2,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25.00
3,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30.00
4,8,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40.00
5,9,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.00
6,10,Ikura,4,8,12 - 200 ml jars,31.00
7,11,Queso Cabrales,5,4,1 kg pkg.,21.00
8,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38.00
9,13,Konbu,6,8,2 kg box,6.00
10,14,Tofu,6,7,40 - 100 g pkgs.,23.25
11,17,Alice Mutton,7,6,20 - 1 kg tins,39.00
12,18,Carnarvon Tigers,7,8,16 kg pkg.,62.50
13,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.20
14,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81.00
15,22,Gustaf's Knäckebröd,9,5,24 - 500 g pkgs.,21.00
16,23,Tunnbröd,9,5,12 - 250 g pkgs.,9.00
17,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.50
18,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
19,27,Schoggi Schokolade,11,3,100 - 100 g pieces,43.90
20,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.60
21,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79
22,30,Nord-Ost Matjeshering,13,8,10 - 200 g glasses,25.89
23,32,Mascarpone Fabioli,14,4,24 - 200 g pkgs.,32.00
24,33,Geitost,15,4,500 g,2.50
25,37,Gravad lax,17,8,12 - 500 g pkgs.,26.00
26,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.50
27,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
28,43,Ipoh Coffee,20,1,16 - 500 g tins,46.00
29,45,Røgede sild,21,8,1k pkg.,9.50
30,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.50
31,51,Manjimup Dried Apples,24,7,50 - 300 g pkgs.,53.00
32,52,Filo Mix,24,5,16 - 2 kg boxes,7.00
33,53,Perth Pasties,24,6,48 pieces,32.80
34,54,Tourtière,25,6,16 pies,7.45
35,55,Pâté chinois,25,6,24 boxes x 2 pies,24.00
36,56,Gnocchi di nonna Alice,26,5,24 - 250 g pkgs.,38.00
37,59,Raclette Courdavault,28,4,5 kg pkg.,55.00
38,60,Camembert Pierrot,28,4,15 - 300 g rounds,34.00
39,61,Sirop d'érable,29,2,24 - 500 ml bottles,28.50
40,62,Tarte au sucre,29,3,48 pies,49.30
41,63,Vegie-spread,7,2,15 - 625 g jars,43.90
42,64,Wimmers gute Semmelknödel,12,5,20 bags x 4 pieces,33.25
43,65,Louisiana Fiery Hot Pepper Sauce,2,2,32 - 8 oz bottles,21.05
44,69,Gudbrandsdalsost,15,4,10 kg pkg.,36.00
45,71,Fløtemysost,15,4,10 - 500 g pkgs.,21.50
46,72,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80
47,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75

BETWEEN with IN:
- The following SQL statement selects all products with a price between 10 and 20. In addition, the CategoryID must be either 1,2, or 3:

In [7]:
# Example:
cur.execute('''SELECT * FROM sqlw3s.Products
WHERE Price BETWEEN 10 AND 20
AND CategoryID IN (1,2,3);''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,1,Chais,1,1,10 boxes x 20 bags,18.00
1,2,Chang,1,1,24 - 12 oz bottles,19.00
2,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
3,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.50
4,16,Pavlova,7,3,32 - 500 g boxes,17.45
5,21,Sir Rodney's Scones,8,3,24 pkgs. x 4 pieces,10.00
6,25,NuNuCa Nuß-Nougat-Creme,11,3,20 - 450 g glasses,14.00
7,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14.00
8,35,Steeleye Stout,16,1,24 - 12 oz bottles,18.00
9,39,Chartreuse verte,18,1,750 cc per bottle,18.00
10,44,Gula Malacca,20,2,20 - 2 kg bags,19.45
11,48,Chocolade,22,3,10 pkgs.,12.75
12,49,Maxilaku,23,3,24 - 50 g pkgs.,20.00
13,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
14,66,Louisiana Hot Spiced Okra,2,2,24 - 8 oz jars,17.00
15,67,Laughing Lumberjack Lager,16,1,24 - 12 oz bottles,14.00
16,68,Scottish Longbreads,8,3,10 boxes x 8 pieces,12.50
17,70,Outback Lager,7,1,24 - 355 ml bottles,15.00
18,76,Lakkalikööri,23,1,500 ml,18.00
19,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00

BETWEEN Text Values:
- The following SQL statement selects all products with a ProductName alphabetically between Carnarvon Tigers and Mozzarella di Giovanni:

In [8]:
# Example:
cur.execute('''SELECT * FROM sqlw3s.Products
WHERE ProductName BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,18,Carnarvon Tigers,7,8,16 kg pkg.,62.50
1,1,Chais,1,1,10 boxes x 20 bags,18.00
2,2,Chang,1,1,24 - 12 oz bottles,19.00
3,39,Chartreuse verte,18,1,750 cc per bottle,18.00
4,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.00
5,5,Chef Anton's Gumbo Mix,2,2,36 boxes,21.35
6,48,Chocolade,22,3,10 pkgs.,12.75
7,38,Côte de Blaye,18,1,12 - 75 cl bottles,263.50
8,58,Escargots de Bourgogne,27,8,24 pieces,13.25
9,52,Filo Mix,24,5,16 - 2 kg boxes,7.00
10,71,Fløtemysost,15,4,10 - 500 g pkgs.,21.50
11,33,Geitost,15,4,500 g,2.50
12,15,Genen Shouyu,6,2,24 - 250 ml bottles,15.50
13,56,Gnocchi di nonna Alice,26,5,24 - 250 g pkgs.,38.00
14,31,Gorgonzola Telino,14,4,12 - 100 g pkgs,12.50
15,6,Grandma's Boysenberry Spread,3,2,12 - 8 oz jars,25.00
16,37,Gravad lax,17,8,12 - 500 g pkgs.,26.00
17,24,Guaraná Fantástica,10,1,12 - 355 ml cans,4.50
18,69,Gudbrandsdalsost,15,4,10 kg pkg.,36.00
19,44,Gula Malacca,20,2,20 - 2 kg bags,19.45
20,26,Gumbär Gummibärchen,11,3,100 - 250 g bags,31.23
21,22,Gustaf's Knäckebröd,9,5,24 - 500 g pkgs.,21.00
22,10,Ikura,4,8,12 - 200 ml jars,31.00
23,36,Inlagd Sill,17,8,24 - 250 g jars,19.00
24,43,Ipoh Coffee,20,1,16 - 500 g tins,46.00
25,41,Jack's New England Clam Chowder,19,8,12 - 12 oz cans,9.65
26,13,Konbu,6,8,2 kg box,6.00
27,76,Lakkalikööri,23,1,500 ml,18.00
28,67,Laughing Lumberjack Lager,16,1,24 - 12 oz bottles,14.00
29,74,Longlife Tofu,4,7,5 kg pkg.,10.00
30,65,Louisiana Fiery Hot Pepper Sauce,2,2,32 - 8 oz bottles,21.05
31,66,Louisiana Hot Spiced Okra,2,2,24 - 8 oz jars,17.00
32,51,Manjimup Dried Apples,24,7,50 - 300 g pkgs.,53.00
33,32,Mascarpone Fabioli,14,4,24 - 200 g pkgs.,32.00
34,49,Maxilaku,23,3,24 - 50 g pkgs.,20.00
35,9,Mishi Kobe Niku,4,6,18 - 500 g pkgs.,97.00
36,72,Mozzarella di Giovanni,14,4,24 - 200 g pkgs.,34.80

In [9]:
# The following SQL statement selects all products with a ProductName between Carnarvon Tigers and Chef Anton's Cajun Seasoning:
cur.execute('''SELECT * FROM sqlw3s.Products
WHERE ProductName BETWEEN "Carnarvon Tigers" AND "Chef Anton's Cajun Seasoning"
ORDER BY ProductName;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,18,Carnarvon Tigers,7,8,16 kg pkg.,62.5
1,1,Chais,1,1,10 boxes x 20 bags,18.0
2,2,Chang,1,1,24 - 12 oz bottles,19.0
3,39,Chartreuse verte,18,1,750 cc per bottle,18.0
4,4,Chef Anton's Cajun Seasoning,2,2,48 - 6 oz jars,22.0

NOT BETWEEN Text Values:
- The following SQL statement selects all products with a ProductName not between Carnarvon Tigers and Mozzarella di Giovanni:

In [10]:
# Example:
cur.execute('''SELECT * FROM sqlw3s.Products
WHERE ProductName NOT BETWEEN 'Carnarvon Tigers' AND 'Mozzarella di Giovanni'
ORDER BY ProductName;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,ProductID,ProductName,SupplierID,CategoryID,Unit,Price
0,17,Alice Mutton,7,6,20 - 1 kg tins,39.00
1,3,Aniseed Syrup,1,2,12 - 550 ml bottles,10.00
2,40,Boston Crab Meat,19,8,24 - 4 oz tins,18.40
3,60,Camembert Pierrot,28,4,15 - 300 g rounds,34.00
4,30,Nord-Ost Matjeshering,13,8,10 - 200 g glasses,25.89
5,8,Northwoods Cranberry Sauce,3,2,12 - 12 oz jars,40.00
6,25,NuNuCa Nuß-Nougat-Creme,11,3,20 - 450 g glasses,14.00
7,77,Original Frankfurter grüne Soße,12,2,12 boxes,13.00
8,70,Outback Lager,7,1,24 - 355 ml bottles,15.00
9,55,Pâté chinois,25,6,24 boxes x 2 pies,24.00
10,16,Pavlova,7,3,32 - 500 g boxes,17.45
11,53,Perth Pasties,24,6,48 pieces,32.80
12,11,Queso Cabrales,5,4,1 kg pkg.,21.00
13,12,Queso Manchego La Pastora,5,4,10 - 500 g pkgs.,38.00
14,59,Raclette Courdavault,28,4,5 kg pkg.,55.00
15,57,Ravioli Angelo,26,5,24 - 250 g pkgs.,19.50
16,75,Rhönbräu Klosterbier,12,1,24 - 0.5 l bottles,7.75
17,73,Röd Kaviar,17,8,24 - 150 g jars,15.00
18,45,Røgede sild,21,8,1k pkg.,9.50
19,28,Rössle Sauerkraut,12,7,25 - 825 g cans,45.60
20,34,Sasquatch Ale,16,1,24 - 12 oz bottles,14.00
21,27,Schoggi Schokolade,11,3,100 - 100 g pieces,43.90
22,68,Scottish Longbreads,8,3,10 boxes x 8 pieces,12.50
23,42,Singaporean Hokkien Fried Mee,20,5,32 - 1 kg pkgs.,14.00
24,20,Sir Rodney's Marmalade,8,3,30 gift boxes,81.00
25,21,Sir Rodney's Scones,8,3,24 pkgs. x 4 pieces,10.00
26,61,Sirop d'érable,29,2,24 - 500 ml bottles,28.50
27,46,Spegesild,21,8,4 - 450 g glasses,12.00
28,35,Steeleye Stout,16,1,24 - 12 oz bottles,18.00
29,62,Tarte au sucre,29,3,48 pies,49.30
30,19,Teatime Chocolate Biscuits,8,3,10 boxes x 12 pieces,9.20
31,29,Thüringer Rostbratwurst,12,6,50 bags x 30 sausgs.,123.79
32,14,Tofu,6,7,40 - 100 g pkgs.,23.25
33,54,Tourtière,25,6,16 pies,7.45
34,23,Tunnbröd,9,5,12 - 250 g pkgs.,9.00
35,7,Uncle Bob's Organic Dried Pears,3,7,12 - 1 lb pkgs.,30.00
36,50,Valkoinen suklaa,23,3,12 - 100 g bars,16.25
37,63,Vegie-spread,7,2,15 - 625 g jars,43.90
38,64,Wimmers gute Semmelknödel,12,5,20 bags x 4 pieces,33.25
39,47,Zaanse koeken,22,3,10 - 4 oz boxes,9.50

BETWEEN Dates
- The following SQL statement selects all orders with an OrderDate between '01-July-1996' and '31-July-1996':

In [13]:
# Example:
cur.execute('''SELECT * FROM sqlw3s.Orders
WHERE OrderDate BETWEEN #07/01/1996# AND #07/31/1996#;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 2")

In [17]:
# OR:
cur.execute('''SELECT * FROM sqlw3s.Orders
WHERE OrderDate BETWEEN '1996-07-04' AND '1996-07-31';''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

    OrderID  CustomerID  EmployeeID   OrderDate  ShipperID
0     10248          90           5  1996-07-04          3
1     10249          81           6  1996-07-05          1
2     10250          34           4  1996-07-08          2
3     10251          84           3  1996-07-08          1
4     10252          76           4  1996-07-09          2
5     10253          34           3  1996-07-10          2
6     10254          14           5  1996-07-11          2
7     10255          68           9  1996-07-12          3
8     10256          88           3  1996-07-15          2
9     10257          35           4  1996-07-16          3
10    10258          20           1  1996-07-17          1
11    10259          13           4  1996-07-18          3
12    10260          55           4  1996-07-19          1
13    10261          61           4  1996-07-19          2
14    10262          65           8  1996-07-22          3
15    10263          20           9  1996-07-23          3
16    10264          24           6  1996-07-24          3
17    10265           7           2  1996-07-25          1
18    10266          87           3  1996-07-26          3
19    10267          25           4  1996-07-29          1
20    10268          33           8  1996-07-30          3
21    10269          89           5  1996-07-31          1