In [1]:
from MySQLdb import connect
import pandas as pd

In [3]:
# Connect to your MySQLdb
conn = connect(host='localhost', user='root')
#conn = connect(host='127.0.0.1', user='root', password = 'root', port=8890)

In [4]:
# Open a cursor to perform database operations
cur = conn.cursor()

The SQL MIN() and MAX() Functions
- The MIN() function returns the smallest value of the selected column.
- The MAX() function returns the largest value of the selected column.

In [5]:
# Find the lowest price:
cur.execute('''SELECT MIN(Price) FROM sqlw3s.Products''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   MIN(Price)
0         2.5

In [6]:
# Find the highest price:
cur.execute('''SELECT MAX(Price) FROM sqlw3s.Products''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   MAX(Price)
0       263.5

>Syntax:

>SELECT MIN(column_name)
>
>FROM table_name
>
>WHERE condition;

>SELECT MAX(column_name)
>
>FROM table_name
>
>WHERE condition;

Set Column Name (Alias)
- When you use MIN() or MAX(), the returned column will be named MIN(field) or MAX(field) by default. To give the column a new name, use the AS keyword:

In [7]:
# Example:
cur.execute('''SELECT MIN(Price) AS SmallestPrice FROM sqlw3s.Products;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   SmallestPrice
0            2.5