In [1]:
from MySQLdb import connect
import pandas as pd

/var/folders/fb/xl0hnskx527bfqkv38l3sn7h0000gn/T/ipykernel_2601/3687392072.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Connect to your MySQLdb
#conn = connect(host='localhost', user='root')
conn = connect(host='127.0.0.1', user='root', password = 'root', port=8890)

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

SQL NULL Values

What is a NULL Value?
- A field with a NULL value is a field with no value.
- If a field in a table is optional, it is possible to insert a new record or update a record without adding a value to this field. Then, the field will be saved with a NULL value.
- Note: A NULL value is different from a zero value or a field that contains spaces. A field with a NULL value is one that has been left blank during record creation!

How to Test for NULL Values?
- It is not possible to test for NULL values with comparison operators, such as =, <, or <>.
- We will have to use the IS NULL and IS NOT NULL operators instead.

> IS NULL Syntax
> 
> SELECT column_names
> FROM table_name
> WHERE column_name IS NULL;

> IS NOT NULL Syntax
> 
> SELECT column_names
> FROM table_name
> WHERE column_name IS NOT NULL;

The IS NULL Operator
- The IS NULL operator is used to test for empty values (NULL values).

In [4]:
# The following SQL lists all customers with a NULL value in the "Address" field:
cur.execute('''SELECT CustomerName, ContactName, Address FROM sqlw3s.Customers WHERE Address IS NULL;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

ValueError: Length mismatch: Expected axis has 0 elements, new values have 3 elements

Tip: Always use IS NULL to look for NULL values.

The IS NOT NULL Operator
- The IS NOT NULL operator is used to test for non-empty values (NOT NULL values).

In [5]:
# The following SQL lists all customers with a value in the "Address" field:
cur.execute('''SELECT CustomerName, ContactName, Address FROM sqlw3s.Customers WHERE Address IS NOT NULL;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerName,ContactName,Address
0,Alfreds Futterkiste,Maria Anders,Obere Str. 57
1,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222
2,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312
3,Around the Horn,Thomas Hardy,120 Hanover Sq.
4,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8
...,...,...,...
86,Wartian Herkku,Pirkko Koskitalo,Torikatu 38
87,Wellington Importadora,Paula Parente,"Rua do Mercado, 12"
88,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B
89,Wilman Kala,Matti Karttunen,Keskuskatu 45
90,Wolski,Zbyszek,ul. Filtrowa 68