In [1]:
from MySQLdb import connect
import pandas as pd

In [2]:
# Connect to your MySQLdb
conn = connect(host='localhost', user='root')
#conn = connect(host='127.0.0.1', user='root', password = 'root', port=8890)

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

### The SQL IN Operator
- The IN operator allows you to specify multiple values in a WHERE clause.
- The IN operator is a shorthand for multiple OR conditions.

In [5]:
# Return all customers from 'Germany', 'France', or 'UK'
cur.execute('''SELECT * FROM sqlw3s.Customers
WHERE Country IN ('Germany', 'France', 'UK');''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
2,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
3,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
4,9,Bon app',Laurence Lebihans,"12, rue des Bouchers",Marseille,13008,France
5,11,B's Beverages,Victoria Ashworth,Fauntleroy Circus,London,EC2 5NT,UK
6,16,Consolidated Holdings,Elizabeth Brown,Berkeley Gardens 12 Brewery,London,WX1 6LT,UK
7,17,Drachenblut Delikatessend,Sven Ottlieb,Walserweg 21,Aachen,52066,Germany
8,18,Du monde entier,Janine Labrune,"67, rue des Cinquante Otages",Nantes,44000,France
9,19,Eastern Connection,Ann Devon,35 King George,London,WX3 6FW,UK
10,23,Folies gourmandes,Martine Rancé,"184, chaussée de Tournai",Lille,59000,France
11,25,Frankenversand,Peter Franken,Berliner Platz 43,München,80805,Germany
12,26,France restauration,Carine Schmitt,"54, rue Royale",Nantes,44000,France
13,38,Island Trading,Helen Bennett,Garden House Crowther Way,Cowes,PO31 7PJ,UK
14,39,Königlich Essen,Philip Cramer,Maubelstr. 90,Brandenburg,14776,Germany
15,40,La corne d'abondance,Daniel Tonini,"67, avenue de l'Europe",Versailles,78000,France
16,41,La maison d'Asie,Annette Roulet,1 rue Alsace-Lorraine,Toulouse,31000,France
17,44,Lehmanns Marktstand,Renate Messner,Magazinweg 7,Frankfurt a.M.,60528,Germany
18,52,Morgenstern Gesundkost,Alexander Feuer,Heerstr. 22,Leipzig,04179,Germany
19,53,North/South,Simon Crowther,South House 300 Queensbridge,London,SW7 1RZ,UK
20,56,Ottilies Käseladen,Henriette Pfalzheim,Mehrheimerstr. 369,Köln,50739,Germany
21,57,Paris spécialités,Marie Bertrand,"265, boulevard Charonne",Paris,75012,France
22,63,QUICK-Stop,Horst Kloss,Taucherstraße 10,Cunewalde,01307,Germany
23,72,Seven Seas Imports,Hari Kumar,90 Wadhurst Rd.,London,OX15 4NB,UK
24,74,Spécialités du monde,Dominique Perrier,"25, rue Lauriston",Paris,75016,France
25,79,Toms Spezialitäten,Karin Josephs,Luisenstr. 48,Münster,44087,Germany
26,84,Victuailles en stock,Mary Saveley,"2, rue du Commerce",Lyon,69004,France
27,85,Vins et alcools Chevalier,Paul Henriot,59 rue de l'Abbaye,Reims,51100,France
28,86,Die Wandernde Kuh,Rita Müller,Adenauerallee 900,Stuttgart,70563,Germany

>Syntax:

>SELECT column_name(s)
>
>FROM table_name
>
>WHERE column_name IN (value1, value2, ...);

NOT IN:
- By using the NOT keyword in front of the IN operator, you return all records that are NOT any of the values in the list.

In [6]:
# Return all customers that are NOT from 'Germany', 'France', or 'UK':
cur.execute('''SELECT * FROM sqlw3s.Customers
WHERE Country NOT IN ('Germany', 'France', 'UK');''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
2,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
3,8,Bólido Comidas preparadas,Martín Sommer,"C/ Araquil, 67",Madrid,28023,Spain
4,10,Bottom-Dollar Marketse,Elizabeth Lincoln,23 Tsawassen Blvd.,Tsawassen,T2F 8M4,Canada
...,...,...,...,...,...,...,...
57,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
58,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
59,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
60,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
61,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

IN (SELECT):
- You can also use IN with a subquery in the WHERE clause.
- With a subquery you can return all records from the main query that are present in the result of the subquery.

In [9]:
# Return all customers that have an order in the Orders table:
cur.execute('''SELECT * FROM sqlw3s.Customers
WHERE CustomerID IN (SELECT CustomerID FROM sqlw3s.Orders);''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Avda. de la Constitución 2222,México D.F.,05021,Mexico
1,3,Antonio Moreno Taquería,Antonio Moreno,Mataderos 2312,México D.F.,05023,Mexico
2,4,Around the Horn,Thomas Hardy,120 Hanover Sq.,London,WA1 1DP,UK
3,5,Berglunds snabbköp,Christina Berglund,Berguvsvägen 8,Luleå,S-958 22,Sweden
4,7,Blondel père et fils,Frédérique Citeaux,"24, place Kléber",Strasbourg,67000,France
...,...,...,...,...,...,...,...
69,87,Wartian Herkku,Pirkko Koskitalo,Torikatu 38,Oulu,90110,Finland
70,88,Wellington Importadora,Paula Parente,"Rua do Mercado, 12",Resende,08737-363,Brazil
71,89,White Clover Markets,Karl Jablonski,305 - 14th Ave. S. Suite 3B,Seattle,98128,USA
72,90,Wilman Kala,Matti Karttunen,Keskuskatu 45,Helsinki,21240,Finland
73,91,Wolski,Zbyszek,ul. Filtrowa 68,Walla,01-012,Poland

NOT IN (SELECT):
- The result in the example above returned 74 records, that means that there are 17 customers that haven't placed any orders.
- Let us check if that is correct, by using the NOT IN operator.

In [11]:
# Return all customers that have NOT placed any orders in the Orders table:
cur.execute('''SELECT * FROM sqlw3s.Customers
WHERE CustomerID NOT IN (SELECT CustomerID FROM sqlw3s.Orders);''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,CustomerID,CustomerName,ContactName,Address,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Obere Str. 57,Berlin,12209,Germany
1,6,Blauer See Delikatessen,Hanna Moos,Forsterstr. 57,Mannheim,68306,Germany
2,12,Cactus Comidas para llevar,Patricio Simpson,Cerrito 333,Buenos Aires,1010,Argentina
3,22,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,"C/ Moralzarzal, 86",Madrid,28034,Spain
4,26,France restauration,Carine Schmitt,"54, rue Royale",Nantes,44000,France
5,32,Great Lakes Food Market,Howard Snyder,2732 Baker Blvd.,Eugene,97403,USA
6,40,La corne d'abondance,Daniel Tonini,"67, avenue de l'Europe",Versailles,78000,France
7,42,Laughing Bacchus Wine Cellars,Yoshi Tannamuri,1900 Oak St.,Vancouver,V3F 2K1,Canada
8,43,Lazy K Kountry Store,John Steel,12 Orchestra Terrace,Walla Walla,99362,USA
9,45,Let's Stop N Shop,Jaime Yorres,87 Polk St. Suite 5,San Francisco,94117,USA
10,50,Maison Dewey,Catherine Dewey,Rue Joseph-Bens 532,Bruxelles,B-1180,Belgium
11,53,North/South,Simon Crowther,South House 300 Queensbridge,London,SW7 1RZ,UK
12,57,Paris spécialités,Marie Bertrand,"265, boulevard Charonne",Paris,75012,France
13,64,Rancho grande,Sergio Gutiérrez,Av. del Libertador 900,Buenos Aires,1010,Argentina
14,74,Spécialités du monde,Dominique Perrier,"25, rue Lauriston",Paris,75016,France
15,78,The Cracker Box,Liu Wong,55 Grizzly Peak Rd.,Butte,59801,USA
16,82,Trail's Head Gourmet Provisioners,Helvetius Nagy,722 DaVinci Blvd.,Kirkland,98034,USA