In [1]:
from MySQLdb import connect
import pandas as pd

In [2]:
# Connect to your MySQLdb
conn = connect(host='localhost', user='root')
#conn = connect(host='127.0.0.1', user='root', password = 'root', port=8890)

In [3]:
# Open a cursor to perform database operations
cur = conn.cursor()

The SQL COUNT() Function
- The COUNT() function returns the number of rows that matches a specified criterion.

In [7]:
# Find the total number of products in the Products table:
cur.execute('''SELECT COUNT(*) FROM sqlw3s.Products;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   COUNT(*)
0        77

>Syntax:

>SELECT COUNT(column_name)
>
>FROM table_name
>
>WHERE condition;

Add a Where Clause
- You can add a WHERE clause to specify conditions:

In [6]:
# Find the number of products where Price is higher than 20:
cur.execute('''SELECT COUNT(ProductID) FROM sqlw3s.Products WHERE Price > 20;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   COUNT(ProductID)
0                37

Specify Column:
- You can specify a column name instead of the asterix symbol (*).
- If you specify a column instead of (*), NULL values will not be counted.

In [8]:
# Find the number of products where the ProductName is not null:
cur.execute('''SELECT COUNT(ProductName) FROM sqlw3s.Products;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   COUNT(ProductName)
0                  77

Ignore Duplicates:
- You can ignore duplicates by using the DISTINCT keyword in the COUNT function.
- If DISTINCT is specified, rows with the same value for the specified column will be counted as one.

In [9]:
# How many different prices are there in the Products table:
cur.execute('''SELECT COUNT(DISTINCT Price) FROM sqlw3s.Products;''')
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   COUNT(DISTINCT Price)
0                     62

Use an Alias:
- Give the counted column a name by using the AS keyword.

In [14]:
# Name the column "number of records":
cur.execute('''SELECT COUNT(*) AS "number of records" FROM sqlw3s.Products;''')
#cur.execute('''SELECT COUNT(*) AS 'number of records' FROM sqlw3s.Products;''') #to same
df = pd.DataFrame(tuple(t) for t in cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

   number of records
0                 77